services:
  api:
    build: ./api
    restart: always
    ports:
      - "5555:5555"
    depends_on:
      mysqlDatabase:
        condition: service_healthy
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      MYSQL_HOST: mysqlDatabase
      MYSQL_PORT: "3306"
      MYSQL_USER: ${MYSQL_USER:-root}
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
    networks:
      - app-network
    # healthcheck:
    #   test:
    #     [
    #       "CMD",
    #       "wget",
    #       "--quiet",
    #       "--tries=1",
    #       "--spider",
    #       "http://localhost:5555/api/auth/health",
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    develop:
      watch:
        - action: sync
          path: ./api/src
          target: /app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: ./api/package.json
        - action: sync+restart
          path: ./api/tsconfig.json
          target: /app/tsconfig.json

  mysqlDatabase:
    image: mysql:9.3.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s

  ngrok:
    image: ngrok/ngrok:latest
    restart: always
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
    ports:
      - "4040:4040"
    depends_on:
      api:
        condition: service_healthy
    networks:
      - app-network
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
